* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
  width: 100% !important;
  position: relative;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111;
  overflow-x: hidden !important;
  width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FF7A00;
  border-radius: 10px;
}